#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}

.home-section {
  border: 2px solid var(--ion-color-primary);
  border-radius: 15px;
  padding: 4px 10px;
  background: var(--ion-color-primary);
}

.home-container {
  background: white;
  padding: 10px;
  border-radius: 10px;
}

.home-container-label_small {
  margin-left: 2px;
  color: gray;
  font-size: 12px;
}

.terms-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.terms-list_item-date {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.terms-list_item-separator {
  margin: 0 5px;
}

.human-input {
  display: flex;
  height: 30px;
  width: 30px;
}

.terms-list_item-student {
  text-align: left;
  text-transform: capitalize;
}

.header {
  text-align: center;
}

.header-title {
  color: var(--ion-color-primary);
}

.students-input,
.break-input {
  text-align: end;
}

ion-content ion-toolbar {
  --background: translucent;
}