#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}

.inputs-section {
  border: 2px solid navy;
  border-radius: 15px;
  padding: 4px 10px;
  background: navy;
}

.inputs-container {
  background: white;
  padding: 10px;
  border-radius: 10px;
}

.header {
  text-align: center;
}

.students-input,
.break-input {
  text-align: end;
}

ion-content ion-toolbar {
  --background: translucent;
}