<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <ion-title>
      Lesson planner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lesson planner</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" size-sm>
          <section class="home-section">
            <div class="home-container">

              <ion-item>
                <ion-label>Students</ion-label>
                <ion-input class="students-input" [(ngModel)]="studentsCount" name="studentsCount" clearOnEdit="true"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Start</ion-label>
                <ion-datetime displayFormat="HH:mm" [(ngModel)]="startDate" name="startDate"></ion-datetime>
              </ion-item>

              <ion-item>
                <ion-label><span>Break</span><span class="inputs-container-label_small">(min)</span></ion-label>
                <ion-input class="break-input" [(ngModel)]="breakLength" name="breakLength" clearOnEdit="true"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>End</ion-label>
                <ion-datetime displayFormat="HH:mm" [(ngModel)]="endDate" name="endDate"></ion-datetime>
              </ion-item>

            </div>
          </section>

        </ion-col>

        <ion-col size="12" size-sm>
          <section class="home-section">
            <div class="home-container">
              <ul class="terms-list">
                <li *ngFor="let term of terms" class="terms-list_item">
                  <div class="terms-list_item-date">{{term.date}}</div>
                  <div *ngIf="!term.break; else elseBlock">
                    <ion-input name="student" class="terms-list_item-student"></ion-input>
                  </div>
                  <ng-template #elseBlock>
                    <ion-input name="student" disabled class="terms-list_item-student" value="Break time"></ion-input>
                  </ng-template>
                </li>
              </ul>                
            </div>
          </section>
        </ion-col>

      </ion-row>
    </ion-grid>

  </div>
</ion-content>
